<div>
  <h2>List songs</h2>
  <%= link_to 'New song', new_admin_song_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Rating</th>
      <th>Progress</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song|%>
        <tr>
          <td><%= song.title %></td>
          <td><%= s