<nav>
  <div class="container navbar">
    <div>
      <a href="/admin">AppleMusic</a>
    </div>
    <ul>
      <%= link_to "Songs", admin_songs_path %>
      <%= link_to "Artists", admin_artists_path %>
      <%= link_to "Albums", admin_albums_path %>
    </ul>
  </div>
</nav>
