body {
  margin: 0;
  font-family: monospace, Helvetica, sans-serif;
  letter-spacing: 0.75px;
}

a {
  color: #067df7;
  text-decoration: none;
}

a[data-method='delete']:hover {
  color: tomato;
}

nav {
  font-size: 14px;
  a {
    border-bottom: 1px solid #453886;
    padding-bottom: 0.25em;
    text-decoration: none;
  }
}

.navbar {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  a {
    margin-right: 5px;
  }
}

.container {
  max-width: 1200px;
  margin: auto